<%- include("../partials/head") %>
<h1>Daily Checks - <%= day %> - Week <%= week %> - Year <%= year %></h1>
<ul>
  <% files.forEach(file => { %>
    <li><%= file %></li>
  <% }); %>
</ul>
<%- include("../partials/footer") %>
