<%- include("../partials/head") %>
<h2>Week <%= week %> - <%= year %></h2>
<ul>
  <% days.forEach(day => { %>
    <li>
      <a href="/data/<%= year %>/<%= week %>/<%= day %>"><%= day %></a>
    </li>
  <% }); %>
</ul>
<%- include("../partials/footer") %>
